*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: $normal_text_color;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $normal_text_color;
}

address,
a {
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
