$background_color: #fafbff;

$normal_text_color: #292D32;
$light_text_color: #B5B7C0;
$active_text_color: #16C098;

$header_text_color: #000000;

$select_menu_text_color: #9197B3;
$active_menu_text_color: #FFFFFF;

$active_status_text_color: #008767;
$active_status_background_color: #16C098;

$inactive_status_text_color: #DF0404;
$inactive_status_background_color: #FFC5C5

$active_item_background_color: #5932EA;
$active_item_text_color: #FFFFFF;

$slider_item_text_color: #404B52;
$slider_item_background_color:#EEEEEE;

$search_svg_color: #7E7E7E;
$role_text_color: #757575;