$background_color: #fafbff;

$normal_text_color: #292d32;
$light_text_color: #b5b7c0;
$active_text_color: #16c098;

$logo_span_color: #838383;

$user_name_text_color: #000000;
$role_text_color: #757575;

$header_text_color: #000000;

$select_menu_text_color: #9197b3;
$active_menu_text_color: #ffffff;

$active_status_text_color: #008767;
$active_status_background_color: #16c09838;
$active_status_border_color: #00b087;

$inactive_status_text_color: #df0404;
$inactive_status_background_color: #ffc5c5;
$inactive_status_border_color: #df0404;

$active_item_background_color: #5932ea;
$active_item_text_color: #ffffff;

$pagination_item_text_color: #404b52;
$pagination_item_background_color: #eeeeee;

$search_svg_color: #7e7e7e;

$box_shadow: 0px 10px 60px 0px #e2ecf980;
