.aside {
  float: left;
  display: flex;
  flex-direction: column;
  height: 140%;
  min-width: 306px;
  box-shadow: $box_shadow;
  padding: 36px 28px 0 28px;

  &__logo {
    &__container {
      display: flex;
      align-items: center;
      margin-bottom: 64px;
      svg {
        margin-right: 8px;
      }

      p {
        font-size: 26px;
        font-weight: 600;
        margin-right: 4px;

        span {
          align-self: flex-end;
          font-size: 10px;
          color: $logo_span_color;
        }
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: $select_menu_text_color;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 46px;
      min-width: 250px;
      padding: 8px 11px;
      border-radius: 8px;
      stroke: $select_menu_text_color;

      &--active {
        color: $active_item_text_color;
        stroke: $active_item_text_color;
        background-color: $active_item_background_color;
      }

      &__content {
        display: flex;
        gap: 14px;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__user {
    display: flex;
    gap: 12px;
    margin-top: auto;
    margin-bottom: 76px;

    &__name {
      color: $user_name_text_color;
    }

    &__role {
      color: $role_text_color;
    }
  }
}
